# Na repozitorij ne bomo nalagali mape z nameščenimi odvisnostmi (dependencies)
/node_modules
# Iz repozitorija odstranimo tudi cache datoteko npmja
.npm
# Iz repozitorija izključimo tudi spremenljivke okolja
.env
# Iz repozitorija izključimo dbdata ki vsebuje podatke za povezavo na podatkovno bazo.
/dbdata